img.animation{
     width: 90px;
     height: 90px;
     transform: rotate(0);
}
img.animation-rotated{
    width: 90px;
    height: 90px;
    transform: rotate(45deg);
    transition: transform 2s linear;
}

.App-logo {
    transition: transform 1s;
    width: 90px;
    height: 90px;
}
.App-logo-rotate {
    width: 90px;
    height: 90px;
    transform: rotate(45deg);
}


